body{ /*no es una clase, no lleva punto es una etiqueta */
    background-color: rgb(243, 255, 220);
}

.titulo {
    color:#d5c151d5;
    font-size: 50px;
    text-align: center;
}

.texto {
    color:#b8860b;
    text-align: center;

}


.image{
    width: 100px;
    height: 70px;
    display:block;
    margin:auto;
}

#id{
    width: 900px;
    height: 6300px;
    display:block;
    margin:auto;
}
